In [2]:
import pandas as pd

In [3]:
csv_path=r'Assignments_04-Pandas_HeroesOfPymoli_Resources_purchase_data.csv'
heroes_df=pd.read_csv(csv_path)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#get total number of players
unique = heroes_df["SN"].nunique()
unique

576

In [10]:
#Obtain number of unique items, average price, etc
unique = heroes_df["Item ID"].nunique()
unique

179

In [11]:
average=heroes_df["Price"].mean()
average

3.050987179487176

In [12]:
heroes_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000