In [4]:
import pandas as pd

In [5]:
csv_path=r'Assignments_04-Pandas_HeroesOfPymoli_Resources_purchase_data.csv'
heroes_df=pd.read_csv(csv_path)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#get total number of players
player_count = heroes_df["SN"].nunique()
player_count_df = pd.DataFrame({"Total Players":[player_count]})
player_count_df

   Total Players
0            576

In [7]:
#Obtain number of unique items, average price, etc
unique_items = heroes_df["Item ID"].nunique()
average_price = heroes_df["Price"].mean()
purchases = heroes_df["Purchase ID"].count()
revenue = heroes_df["Price"].sum()

#create new data frame
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], "Number Of Purchases":[purchases], "Total Revenue":[revenue]})


#format
summary_df["Average Price"]=summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"]=summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

   Number of Unique Items Average Price  Number Of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [8]:
#Gender Demographics
gender=heroes_df.groupby(["Gender"])["SN"].nunique()
percentage_players=(gender/player_count)*100

#create new dataframe

gender_summary_df=pd.DataFrame({"Total Count": gender, "Percentage of Players": percentage_players})

#format
gender_summary_df["Percentage of Players"]=gender_summary_df["Percentage of Players"].map('{:.2f}%'.format)
gender_summary_df

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%

In [19]:
#Purchasing Analysis (Gender)
gender_purchase_count =heroes_df.groupby(["Gender"])["Purchase ID"].count()
gender_purchase_average=heroes_df.groupby(["Gender"])["Price"].mean()
gender_purchase_value=heroes_df.groupby(["Gender"])["Price"].sum()
gender_purchase_avgtotal=gender_purchase_value/gender

#Display the summary data frame
purchasing_analysis_df=pd.DataFrame({"Purchase Count": gender_purchase_count, "Average Purchase Price":gender_purchase_average, "Total Purchase Value":gender_purchase_value, "Avg Total Purchase Per Person": gender_purchase_avgtotal})


#format
purchasing_analysis_df["Average Purchase Price"]=purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
purchasing_analysis_df["Total Purchase Value"]=purchasing_analysis_df["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_df["Avg Total Purchase Per Person"]=purchasing_analysis_df["Avg Total Purchase Per Person"].map("${:.2f}".format)
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56